.Rproj.user
.Rhistory
.RData
.Rapp.history
script.R
modelr.Rproj
inst/doc
*.html
*.pdf
vignettes/modelR_cache
*.odg
1sdmtest_boot
1sdmtest_cv
1sdmtest_cvrep
sdmtest
docs
setupsdmdata
setupsdmdatamed
test
wc10
