.Rproj.user
.Rhistory
.RData
.Rapp.history
script.R
inst/doc
*.html
*.pdf
vignettes/modelR_cache
*.odg
1sdmtest_boot
1sdmtest_cv
1sdmtest_cvrep
sdmtest
docs
setupsdmdata
setupsdmdatamed
test
wc10
modelos_teste
modelos_teste.log
*.Rproj
teste.R
tests/
