# R files
.Rapp.history
.RData
.Rhistory
*.Rproj
.Rproj.user

# other files
modelos_teste.log
*.odg
*.pdf
script.R
teste.R

# dirs
1sdmtest_boot
1sdmtest_cv
1sdmtest_cvrep
modelos_teste
sdmtest
setupsdmdata
setupsdmdatamed
test/
vignettes/modelR_cache
wc10
.Rd2pdf*/
